doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title EatFit

        link(rel='icon', type='image/x-icon', href='assets/img/eatfit-logo.svg')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top')
                    img.app-badge(src='assets/img/eatfit-logo.png', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='#features') Features
                        li.nav-item
                            a.nav-link.me-lg-3(href='#download') Download
                    a.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(href='https://www.facebook.com/profile.php?id=100092405547562&mibextid=LQQJ4d', target='_blank')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Gửi phản hồi

        // Mashead header
        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        // Mashead text and app badges
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h1.display-1.lh-1.mb-3 Một bước tiến ngoạn mục cho sức khỏe
                            p.lead.fw-normal.text-muted.mb-5 Trải nghiệm ngay ứng dụng của chúng tôi và cải thiện sức khỏe từ hôm nay!
                            .d-flex.flex-column.flex-lg-row.align-items-center
                                a.me-lg-3.mb-4.mb-lg-0(href='#!')
                                    img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                                a(href='#!')
                                    img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    .col-lg-6
                        // Masthead device mockup feature
                        .masthead-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // PUT CONTENTS HERE:
                                        // * * This can be a video, image, or just about anything else.
                                        // * * Set the max width of your media to 100% and the height to
                                        // * * 100% like the demo example below.
                                        video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/demo-screen.mp4', type='video/mp4')

        // Quote/testimonial aside
        aside.text-center.bg-gradient-primary-to-secondary
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8
                        .h2.fs-1.text-white.mb-4 "Thay đổi cuộc sống với EatFit: Hỗ trợ cá nhân hóa để trở thành phiên bản tốt nhất của bạn!"
                        img(src='assets/img/tnw-logo.svg', alt='...', style='height: 3rem;')

        // App features section
        section#features
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-8.order-lg-1.mb-5.mb-lg-0
                        .container-fluid.px-5
                            .row.gx-5
                                .col-md-6.mb-5
                                    // Feature item
                                    .text-center
                                        i.bi-phone.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Tương thích đa nền tảng
                                        p.text-muted.mb-0  Tương thích trên mọi thiết bị, giúp bạn tiếp cận và trải nghiệm dễ dàng.
                                .col-md-6.mb-5
                                    // Feature item
                                    .text-center
                                        i.bi-camera.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Track bằng hình ảnh
                                        p.text-muted.mb-0 Lưu trữ bằng hình ảnh, video để trải nghiệm theo dõi bữa ăn sống động hơn!
                            .row
                                .col-md-6.mb-5.mb-md-0
                                    // Feature item
                                    .text-center
                                        i.bi-gift.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Ăn, tập và nhận thưởng
                                        p.text-muted.mb-0 Với mỗi bữa ăn ghi nhận, mỗi buổi tập hoàn thành, bạn sẽ tích lũy điểm thưởng!
                                .col-md-6
                                    // Feature item
                                    .text-center
                                        i.bi-patch-check.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt Khắc phục tư thế tập
                                        p.text-muted.mb-0 Phát triển cơ thể an toàn, hiệu quả, tránh những chấn thương không mong muốn!
                    .col-lg-4.order-lg-0
                        // Features section device mockup
                        .features-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // PUT CONTENTS HERE:
                                        // * * This can be a video, image, or just about anything else.
                                        // * * Set the max width of your media to 100% and the height to
                                        // * * 100% like the demo example below.
                                        video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/demo-screen.mp4', type='video/mp4')

        // Basic features section
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        h2.display-4.lh-1.mb-4 EatFit: Giải pháp hoàn hảo cho cuộc sống bận rộn!
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0 EatFit đã ra đời với sứ mệnh giúp bạn kiểm soát cân nặng và tập luyện một cách dễ dàng, hiệu quả.
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0.mt-4 Chúng tôi cung cấp các bài tập tùy chỉnh, lịch trình ăn uống phù hợp với nhu cầu và thời gian của bạn, hướng dẫn từng bước để tập luyện đúng cách và cung cấp thông tin dinh dưỡng quan trọng.
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0.mt-4 Với giao diện đơn giản và dễ sử dụng, bạn dễ dàng theo dõi khẩu phần, tiến độ tập luyện và cảm nhận sự tiến bộ của mình. EatFit gửi thông báo để giữ vững thói quen lành mạnh và không bỏ lỡ bất kỳ mục tiêu nào.
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0.mt-4 Hãy để EatFit trở thành người bạn đồng hành trong cuộc sống làm việc và gia đình!
                    .col-sm-8.col-md-6
                        .px-5.px-sm-0
                            img.img-fluid.rounded-circle(src='https://source.unsplash.com/ZMSZ4FxpdcI/900x900', alt='...')

        // Call to action section
        section.cta
            .cta-content
                .container.px-5
                    h2.text-white.display-1.lh-1.mb-4
                        | Tự tin hơn. Khỏe mạnh hơn.
                        br
                        | Tận hưởng cuộc sống tối đa.
                    a.fs-5.mt-3.btn.btn-outline-light.py-3.px-4.rounded-pill(href='https://www.facebook.com/profile.php?id=100092405547562&mibextid=LQQJ4d', target='_blank') Truy cập Facebook

        section.about-us
            .container.px-5
                .row.gx-5.justify-content-center.h2.fs-1.mb-4 Đội ngũ EatFit
            .col-lg-12.order-lg-1.mb-5.mb-lg-0
                .container-fluid.px-5
                    .row.gx-5
                        .col-md-2.mb-5
                            // Feature item
                            .text-center
                                img.img-fluid(src='assets/img/vy.png')
                                h3.font-alt Hồng Vy
                                p.text-muted.mb-0 Business Executive
                        .col-md-2
                            // Feature item
                            .text-center
                                img.img-fluid(src='assets/img/ngoc.png')
                                h3.font-alt Hồng Ngọc
                                p.text-muted.mb-0 Business Executive
                        .col-md-2
                            // Feature item
                            .text-center
                                img.img-fluid(src='assets/img/mina.png')
                                h3.font-alt Mina
                                p.text-muted.mb-0 Designer
                        .col-md-4.mb-5
                            // Feature item
                            .text-center
                                img.img-fluid(src='assets/img/huyduc.png')
                                h3.font-alt Anh Huy & Thiên Đức
                                p.text-muted.mb-0  Developers
                        .col-md-2.mb-5
                            // Feature item
                            .text-center
                                img.img-fluid(src='assets/img/ha.png')
                                h3.font-alt Ngân Hà
                                p.text-muted.mb-0 Developer
                    
                        
        
        // App badge section
        section#download.bg-gradient-primary-to-secondary
            .container.px-5
                h2.text-center.text-white.font-alt.mb-4 Download ngay!
                .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                    a.me-lg-3.mb-4.mb-lg-0(href='#!')
                        img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                    a(href='#!')
                        img.app-badge(src='assets/img/app-store-badge.svg', alt='...')

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; EatFit 2023. All Rights Reserved.
                    a(href='#!') Privacy
                    span.mx-1 &middot;
                    a(href='#!') Terms
                    span.mx-1 &middot;
                    a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        // Bootstrap core JS
        //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/docs/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
